html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: rgb(207, 207, 207);
    color: rgb(17, 5, 15);
    font-family: 'Rubik', sans-serif;
    max-width: 1000px;
    padding: 5%;
    vertical-align: middle;
    margin: 0px auto;
}

.header {
    color: antiquewhite;
    border: 2px;
    font-size: 16px;
    text-align: center;
    font-family: 'Rubik', bold, sans-serif;
    border-style: outset;
    border-color: rgb(9, 70, 57);
    border-radius: 20px/40px;
    background-color: rgb(13, 84, 78);
}

.header__Section {
    margin: auto;
    padding: auto;
 }

.subHeader {
    color:rgb(15, 16, 17);
    text-align: center;
    font-family: 'Rubik', bold, sans-serif;
    font-weight: bold; 
}

.picture {
    display: block;
    margin: 20px auto;
    max-width: 15%;
    font-family:  Lato, 'Rubik', sans-serif;
}

.link {
    font-family: Lato, 'Rubik', sans-serif;
    background-color: rgb(73, 173, 164);
    color:black;
}

.quotesList {
    background-color: rgba(145, 215, 203, 0.905);
    color: rgb(17, 5, 15);
    text-shadow: 1px 2px 5px rgb(155, 152, 152);
    font-family: Lato, 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    width: 30%;
    padding: 2%;
    border: 1px solid rgb(1, 83, 104);
}

.farewell {
    color: rgb(13, 84, 78);
    text-align: center;
    font-family: Lato, 'Rubik', sans-serif;
    margin-top: 5%;
}

.buttonGreetings {
   background-color: rgb(13, 84, 78);
   color: antiquewhite;
   display: block;
   margin:10px auto;
   padding: 2%;
   font-family: Lato, 'Rubik', sans-serif;
}

.footer {
    background-color: rgb(1, 58, 74);
    font-family: Lato, 'Rubik', sans-serif;
    color: antiquewhite;
    font-size: 10px;
    text-align: center;
    margin: 40px auto;
    padding: 2%;
}

p:hover, h1:hover, a:hover {
    background-color: rgb(109, 142, 139);
}

a:-webkit-any-link {
    color: antiquewhite;
    text-decoration: none;
    text-decoration-thickness: unset;
    text-decoration-style: unset;
    text-decoration-color: unset;
}